
.display h1{
    font-size: 28px;
    text-align: center;
    margin: 20px;
    border: 2px solid #2F4F4F;
    border-radius: 5px;
  }
  
 .display card{
      font-size: large;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: rgb(255, 255, 255);
      border: 2px solid #2F4F4F;
      border-radius: 5px;   
  }  

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .Card {
  flex: 0 1 24%;
 }

  .display button{
    font-size: 18px;
    padding: 7px 10px;
    margin: 10px;
    background-color: #129762;
    
}

.display span {
    font-size: 18px;
    padding: 7px 10px;
    margin: 10px;
    background-color: #129762;
    border-radius: 5px;
    color: #FFFFFF;
}

.display li{
  font-size: 20px;
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

